/ Copyright © 2014 - 2016, Sequømics Corporation, All rights reserved.
!!!
%html.no-js{:lang => "en", :prefix => "og: http://ogp.me/ns#", "xml:lang" => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head{:prefix => "sequomics: http://sequomics.com/ns#"}
    %base{:href => "/"}
    %meta{:charset => "utf-8"}
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title Sequømics Corporation, Innovate Precisely.
    / SEO, by Prabhat Kumar, http://prabhatkumar.org/
    %meta{:content => "Sequomics Corporation, Innovate Precisely.", :name => "description"}
    %meta{:content => "sequomics corporation, sequomics, corporation, innovate precisely, algorithms, data science, data analytics, data mining, text mining, exploratory data analysis, reproducible research, statistical inference, statistical modelling, regression models, developing data products, machine learning, NLP, predictive analytics, bayesian statistics, decision support models, graph theory, data visualisation, scientific computing, computational genomics, computational proteomics, computational chemistry, computational statistics, databases and knowledgebase", :name => "keywords"}
    %meta{:content => "index, follow", :name => "robots"}
    / SEO, by Prabhat Kumar, http://prabhatkumar.org/
    %link{:href => "http://static.sequomics.com/assets/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}
    %link{:href => "en/assets/style/*.css", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "en/assets/style/*.css", :rel => "stylesheet", :type => "text/css"}
    / HTML5 and CSS3 fallback for IE8 support.
    /[if lt IE 9]
      %link{:href => "en/assets/style/IE-fallback.css", :rel => "stylesheet", :type => "text/css"}
